*{
    box-sizing: border-box;

}

nav {
    height: 5em;

}

a {
    cursor: pointer;
    font-weight: bold;
}



#conteudo {
    height: 777px;
}

@media screen and (max-width: 667px){
    .button {
        width: 100%;
    }
    nav {
        width: 100%;
    }
}

