<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Projeto Academia</title>
    <meta name="author" content="Fabrício Dias">
</head>
<body>

<div th:replace="/fragments/fragmentos.html :: header">

</div>

<div class="container text-center align-items-center" id="conteudo">
    <div>
        <div class="row">
            <div class="col">
            <h1>Sistema de Gerenciamento de Alunos</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 button">
                <button class="btn btn-primary">Cadastrar Aluno</button>
            </div>
            <div class="col-2 button">
                <button class="btn btn-success">Encontrar Aluno</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="/fragments/fragmentos.html :: footer">

</div>



<script src="webjars/jquery/3.6.3/bower.json"></script>
<script src="webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
<script src="https://kit.fontawesome.com/1ae389d098.js" crossorigin="anonymous"></script>
</body>
</html>